<FormElements::Label>Option Groups</FormElements::Label>

<div>
  <div {{sortable-group onChange=(action this.reorder)}}>
    {{#each groups as |group|}}
      <CustomField::Group
        @model={{group}}
        @options={{this.options}}
        @disabledOptions={{this.disabledOptions}}
        @disabled={{this.disabled}}
        @remove={{action this.remove}}
      />
    {{/each}}
  </div>
</div>

<FormElements::Button
  title="Add group"
  class="btn btn-outline-success"
  @click={{action "add"}}
  @disabled={{this.disabled}}
>
  <EntypoIcon @name="circle-with-plus" />
  Add
</FormElements::Button>
