<BsModal @show={{true}} @backdrop="static" @size="large" @onClose={{action "returnToList"}} as |modal|>
  <form {{action this.onSubmit modal.actions.hide on="submit"}}>
    <fieldset disabled={{this.isActionRunning}}>
      {{#modal.header}}
        <h2 class="modal-title">{{this.title}}</h2>
        <button
          type="button"
          class="close"
          aria-label="Close"
          {{action modal.actions.hide}}
        >
          {{entypo-icon "cross"}}
        </button>
      {{/modal.header}}

      {{#modal.body}}
        <div class="row">
          <div class="col">
            <div class="form-group">
              <FormElements::Label @for="custom-field.name" @required={{true}}>Name</FormElements::Label>
              <Input @id="custom-field.name" @type="text" @required={{true}} @autofocus={{true}} @class="form-control" @value={{this.model.name}} />
              <small id="custom-field.name-help" class="form-text text-muted">
                {{entypo-icon "info-with-circle" class="text-info"}}
                The internal field name. This will not be visible to end-users.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <FormElements::Label @for="custom-field.label" @required={{true}}>Label</FormElements::Label>
              <Input @id="custom-field.label" @type="text" @required={{true}} @class="form-control" @value={{this.model.label}} />
              <small id="custom-field.label-help" class="form-text text-muted">
                {{entypo-icon "info-with-circle" class="text-info"}}
                The external field/question label. This will be visible to end-users.
              </small>
            </div>
          </div>
        </div>

        {{#if this.model.id}}
          <div class="row">
            <div class="col">
              <CustomField::ExternalId
                @class="form-group"
                @externalId={{model.externalId}}
                @on-show={{action "enableOptionExternalIds"}}
                @on-clear={{action "clearOptionExternalIds"}}
              />
            </div>
          </div>

          {{#if (eq this.model.__typename "SelectField")}}
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <CustomField::Options
                    @options={{this.model.options}}
                    @disabled={{this.isActionRunning}}
                    @showExternalIds={{this.optionExternalIdsEnabled}}
                    @reorder={{action "reorderOptions"}}
                    @remove={{action "removeOption"}}
                  />
                </div>
              </div>
            </div>
          {{/if}}

          <div class="d-flex justify-content-between mt-3 ml-n2">
            <FormElements::ToggleButton @value={{this.model.required}} @onLabel="Globally Required" />
          </div>

          <div class="d-flex justify-content-between mt-3 ml-n2">
            <FormElements::ToggleButton @value={{this.model.active}} @onLabel="Active" />
          </div>
        {{else}}
          <div class="row">
            <div class="col">
              <FormElements::Label @for="field.type" @required={{true}}>Field Type</FormElements::Label>
              <FormElements::Select
                @id="field.type"
                @required={{true}}
                @value={{this.model.createType}}
                @on-change={{action "setFieldType"}}
                @class="custom-select" as |select|
              >
                <select.option>Please Select One</select.option>
                <select.option @value="boolean">Boolean</select.option>
                <select.option @value="select">Select</select.option>
              </FormElements::Select>
            </div>
          </div>
        {{/if}}
      {{/modal.body}}

      {{#modal.footer}}
        <FormElements::SubmitButton @class="btn btn-success" @isSaving={{this.isActionRunning}} />
      {{/modal.footer}}
    </fieldset>
  </form>
</BsModal>
