<FormElements::Label>Options / Answers</FormElements::Label>

<div>
  <div {{sortable-group groupName="choices" onChange=(action this.reorder)}}>
    {{#each choices as |choice|}}
      {{#if (eq choice.__typename "SelectFieldOptionGroup")}}
        <CustomField::Group
          @model={{find-by this.groups "id" choice.id}}
          @options={{this.options}}
          @disabled={{this.disabled}}
          @remove={{action this.removeGroup}}
          @showExternalIds={{this.showExternalIds}}
        />
      {{else}}
        <CustomField::Option
          @model={{find-by this.options "id" choice.id}}
          @showExternalIds={{this.showExternalIds}}
          @disabled={{this.disabled}}
          @remove={{action this.removeOption}}
          @groupName="choices"
        />
      {{/if}}
    {{/each}}
  </div>
</div>

<FormElements::Button
  title="Add option"
  class="btn btn-outline-success"
  @click={{action "add"}}
  @disabled={{this.disabled}}
>
  <EntypoIcon @name="circle-with-plus" />
  Add Option
</FormElements::Button>

<FormElements::Button
  title="Add group"
  class="btn btn-outline-success"
  @click={{action "addGroup"}}
  @disabled={{this.disabled}}
>
  <EntypoIcon @name="circle-with-plus" />
  Add Group
</FormElements::Button>
