<FormElements::Label>Options / Answers</FormElements::Label>

<div>
  <div {{sortable-group groupName="options" onChange=(action this.reorder)}}>
    {{#each options as |option|}}
      <CustomField::Option
        @model={{option}}
        @showExternalIds={{this.showExternalIds}}
        @disabled={{this.disabled}}
        @remove={{action this.remove}}
      />
    {{/each}}
  </div>
</div>

<FormElements::Button
  title="Add option"
  class="btn btn-outline-success"
  @click={{action "add"}}
  @disabled={{this.disabled}}
>
  <EntypoIcon @name="circle-with-plus" />
  Add
</FormElements::Button>
