<BsModal @show={{true}} @backdrop="static" @size="large" @onClose={{action "returnToList"}} as |modal|>
  {{#modal.header}}
    <ul class="nav nav-pills">
      <li class="nav-item">
        {{#link-to "manage.orgs.view.apps.view.users.edit.index" class="nav-link"}}
          General
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.orgs.view.apps.view.users.edit.address-fields" class="nav-link"}}
          Address
        {{/link-to}}
      </li>
      <li class="nav-item dropdown">
        <a class={{customDropdownClasses}} data-toggle="dropdown" href="#" role="button" aria-expanded="false">Custom Fields</a>
        <div class="dropdown-menu">
          {{#link-to "manage.orgs.view.apps.view.users.edit.custom-boolean-fields" class="dropdown-item"}}
            Checkboxes
          {{/link-to}}
          {{#link-to "manage.orgs.view.apps.view.users.edit.custom-text-fields" class="dropdown-item"}}
            Text fields
          {{/link-to}}
          {{#link-to "manage.orgs.view.apps.view.users.edit.custom-select-fields" class="dropdown-item"}}
            Selects
          {{/link-to}}
        </div>
      </li>
      <li class="nav-item">
        {{#link-to "manage.orgs.view.apps.view.users.edit.external-ids" class="nav-link"}}
          External IDs
        {{/link-to}}
      </li>
    </ul>
    <button
      type="button"
      class="close"
      aria-label="Close"
      {{action modal.actions.hide}}
    >
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  {{outlet}}
</BsModal>
