<h1 class="mb-4">Organizations</h1>

<div class="row">
  {{#each context.orgs as |org|}}
    <ListCard>
      <div class="card-body">
        <h2 class="card-title">{{org.name}}</h2>
        {{#if org.description}}
          <p class="card-text">{{org.description}}</p>
        {{/if}}
      </div>
      <div class="card-footer d-flex justify-content-between">
        {{#link-to "manage.orgs.view.apps" org.id class="btn btn-primary" role="button"}}
          {{entypo-icon "popup" class="mr-1"}} Manage
        {{/link-to}}
      </div>
    </ListCard>
  {{else}}
    <p class="col">You are not a member of any organizations.</p>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.list.create" @title="Create New Organization" />
</aside>

{{outlet}}
