<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.name" @required={{true}}>Name</FormElements::Label>
      <Input @id="app.name" @type="text" @required={{true}} @autofocus={{true}} @class="form-control" @value={{model.name}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.email" @required={{true}}>Support Email</FormElements::Label>
      <Input @id="app.email" @type="email" @required={{true}} @class="form-control" @value={{model.email}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.description">Description</FormElements::Label>
      <Textarea @id="app.description" @class="form-control" @value={{model.description}} @rows={{3}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.loginLinkTemplate.subject">Login Email Subject</FormElements::Label>
      <Input @id="app.loginLinkTemplate.subject" @class="form-control" @value={{model.loginLinkTemplate.subject}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.loginLinkTemplate.unverifiedVerbiage">Login Email Unverified Verbiage</FormElements::Label>
      <Textarea @id="app.loginLinkTemplate.unverifiedVerbiage" @class="form-control" @value={{model.loginLinkTemplate.unverifiedVerbiage}} @rows={{3}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.loginLinkTemplate.verifiedVerbiage">Login Email Verified Verbiage</FormElements::Label>
      <Textarea @id="app.loginLinkTemplate.verifiedVerbiage" @class="form-control" @value={{model.loginLinkTemplate.verifiedVerbiage}} @rows={{3}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.loginLinkTemplate.loginLinkStyle">Login Email Link Style</FormElements::Label>
      <Textarea @id="app.loginLinkTemplate.loginLinkStyle" @class="form-control" @value={{model.loginLinkTemplate.loginLinkStyle}} @rows={{1}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <FormElements::Label @for="app.loginLinkTemplate.loginLinkText">Login Email Link Text</FormElements::Label>
      <Textarea @id="app.loginLinkTemplate.loginLinkText" @class="form-control" @value={{model.loginLinkTemplate.loginLinkText}} @rows={{1}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group mb-0">
      <FormElements::Label @for="app.language">Language</FormElements::Label>
      <FormElements::Select @id="app.language" @required={{true}} @value={{model.language}} @on-change={{action "setLanguage"}} @class="custom-select" as |select|>
        <select.option @value="en-us">English</select.option>
        <select.option @value="es-mx">Spanish</select.option>
      </FormElements::Select>
    </div>
  </div>
</div>
