<div class="form-group">
  <FormElements::Label>
    <CustomField::Label @value={{this.label}} />
    <br>
    <span class="small text-muted">({{this.name}})</span>
    {{#if (not this.active)}}<span class="small text-warning">[inactive]</span>{{/if}}
  </FormElements::Label>
  {{#if this.multiple}}
    {{#power-select-multiple
      selected=this.selected
      dropdownClass=this.dropdownClass
      options=this.formattedOptions
      onchange=(action "handleChange")
      closeOnSelect=false
      disabled=disabled
      as |item|
    }}
      {{ item.label }}
    {{/power-select-multiple}}
  {{else}}
    {{#power-select
      selected=this.selected
      dropdownClass=this.dropdownClass
      options=this.formattedOptions
      onchange=(action "handleChange")
      allowClear=true
      searchEnabled=false
      disabled=disabled
      as |item|
    }}
      {{ item.label }}
    {{/power-select}}
    {{#if this.canWriteIn}}
      <div class="input-group">
        <Input
          @value={{this.selected.writeInValue}}
          @required={{true}}
          @disabled={{this.disabled}}
          class="mt-1 form-control"
          type="text"
          placeholder="Write-in value"
          aria-label="Write-in value"
        />
      </div>
    {{/if}}
  {{/if}}
</div>
