<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <FormElements::Label @for="app-user.given-name">First Name</FormElements::Label>
      <Input @id="app-user.given-name" @type="text" @class="form-control" @value={{this.model.givenName}} />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <FormElements::Label @for="app-user.family-name">Last Name</FormElements::Label>
      <Input @id="app-user.family-name" @type="text" @class="form-control" @value={{this.model.familyName}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <FormElements::Label @for="app-user.email" @required={{true}}>Email Address</FormElements::Label>
      <Input @id="app-user.email" @type="email" @required={{true}} @disabled={{this.model.verified}} @class="form-control" @value={{this.model.email}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <FormElements::Label @for="app-user.organization">Company Name</FormElements::Label>
      <Input @id="app-user.organization" @type="text" @class="form-control" @value={{this.model.organization}} />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <FormElements::Label @for="app-user.organization-title">Job Title</FormElements::Label>
      <Input @id="app-user.organization-title" @type="text" @class="form-control" @value={{this.model.organizationTitle}} />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <AppUser::Fields::AccessLevels @dropdownClass="in-modal-dropdown" @value={{this.model.accessLevels}} @on-change={{action "setAccessLevels"}} />
  </div>
  <div class="col-lg-6">
    <AppUser::Fields::Teams @dropdownClass="in-modal-dropdown" @value={{this.model.teams}} @on-change={{action "setTeams"}} />
  </div>
</div>

{{#unless this.model.isNew}}
  <div class="d-flex justify-content-between mt-3 ml-n2">
    <FormElements::ToggleButton @value={{this.model.forceProfileReVerification}} @onLabel="Force Profile Re-Verification" />
  </div>
{{/unless}}
